@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(media/fondo01.png);
    background-size: 100%;
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 2em;
}
.horizontal li{
    padding-right: 2em;
    padding-left: 2em;
}
.contenedorServicios{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}
a{
    text-decoration: none;
    font-weight: bold;  
    color: black;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.form-horizontal{
    background-color: bisque;
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
}

.btnDestinos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.formularioDeContacto{
    padding-top: 2em;
    padding-bottom: 2em;
}

.bienvenidoIndex{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

#apiClima{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2em;
}

#apiClima button{
    margin-bottom: 1em;
    width: 50%;
}

.bienvenidoIndex h4{
    padding-bottom: 2em;
}

.tablaCompra{
    border: black solid 2px;
    width: 100%;
    font-size: 2em;
}

.btnFinalizar{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}